{% extends "base.html" %}
{% block title %}
    <title>Adding Tasks</title>
{% endblock %}
{% block content %}
    <h1>Please input your task:</h1>
    <form method="post" autocomplete="off">
        <div class="mb-3">
            <input type="text" name="task" id="task" class="form-control">
        </div>
        {% if success is not none %}
            <p>{{ success }}</p>
        {% endif %}
        <input type="submit" value="submit" name="submit" id="submit" formaction="/tasks" class="btn btn-primary">
    </form>
    {% if list is not none %}
        {% for i in list %}
            <p>{{ i }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
