{% extends "base.html" %}
{% block head %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <h2>Enter the name for the new task sheet you want or press the button to load a previous sheet</h2>
    <form method="post" autocomplete="off">
        <div class="mb-3">
            <input type="text" name="name" id="name" class="form-control">
        </div>
        {% if success is not none %}
            <p>{{ success }}</p>
        {% endif %}
        <input type="submit" formaction="/" class="btn btn-primary">
    </form>
{% endblock %}